### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### Spring Boot ###
# Keep main config files
*.log
application-local.properties
application-dev.properties
application-test.yml

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db

### Other ###
/mvnw
/mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
